.app {
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 12px;
        position: relative;
        top: 0;
        right: 0;
    }

    &::-webkit-scrollbar-track {
        background: rgba($color: #0d6efd, $alpha: .2);
    }

    &::-webkit-scrollbar-thumb {
        background-color: #0d6efd;
        border-radius: 20px;
    }
}

.app-logo {
    max-height: 1.5em;
}


/**
* Containers
*/
.centered-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
        margin-top: 1.5em;
    }
}

.main-container {
    min-height: calc(100vh - 18em);

    @media screen and (max-width: 601px) {
        min-height: calc(100vh - 17.5em);
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2em 0;
}


.router-container {
    width: 100%;
    height: 100%;
    justify-self: flex-start;
}

/**
* Toolbar
*/
.sidenav-logo {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1em;
    height: 1.75em;

    &:hover {
        cursor: pointer;
    }
}

.app-logo {
    height: 80%;

    &:hover {
        cursor: pointer;
    }
}


.toolbar-spacer {
    flex: 1 1 auto;
}

.actions-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    button {
        margin: 0 .5em;
    }

    .dark-mode-toggle {
        margin-left: .5em;

        @media screen and (min-width: 601px) {
            z-index: 11000;
        }
    }
}

::ng-deep .footer {
    .general-infos {
        .mat-grid-tile-content {
            padding: .5em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }

        .mat-list {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .mat-list-item-content {
            padding: .5em;

            .link-span {
                margin-left: 1em;
            }

            &:hover {
                .link {
                    color: #0d6efd;
                }

                .link-span {
                    color: #0d6efd;
                }
            }
        }
    }

    .contacts {
        .mat-grid-tile-content {
            padding: .5em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            .mat-list {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }

            .mat-list-item-content {
                padding: .5em;

                .phone-span,
                .mail-span {
                    margin-left: 1em;
                }

                &:hover {
                    .mail-link {
                        color: #ea4335;
                    }

                    .mail-span {
                        color: #ea4335;
                    }

                    .phone-link {
                        color: #0d6efd;
                    }

                    .phone-span {
                        color: #0d6efd;
                    }
                }
            }
        }
    }

    .social-networks {
        .mat-grid-tile-content {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        .copyright {
            padding: .5em 0;
            font-size: .75em;
            font-style: italic;
        }

        button {
            margin: 0 .5em;
        }

        .linkedin-link:hover {
            fill: #0d6efd;
        }

        .gitlab-link:hover {
            fill: #fc6d26;
        }

        .github-link:hover {
            fill: #0d6efd;
        }
    }
}

::ng-deep .mobile {
    .footer {
        .general-infos {
            .mat-grid-tile-content {
                align-items: center;
                padding-top: 1em;

                .mat-list-item:not(:first-of-type) {
                    margin-top: 1em;
                }

                .mat-list-item-content {
                    display: flex;
                    flex-direction: column;

                    button {
                        width: 100%
                    }
                }
            }
        }

        .contacts {
            .mat-grid-tile-content {
                align-items: center;

                .mat-list {
                    width: 100%;
                }

                .mat-list-item:not(:first-of-type) {
                    margin-top: 1em;
                }

                .mat-list-item-content {
                    display: flex;
                    flex-direction: column;

                    button {
                        width: 100%
                    }
                }
            }
        }
    }
}

::ng-deep .dark-mode {
    .footer {
        .contacts {
            &.mobile {
                .mat-grid-tile-content {
                    align-items: center;

                    .mat-list-item:not(:first-of-type) {
                        margin-top: 1em;
                    }

                    .mat-list-item-content {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }

            mat-icon {
                color: #fafafa;
                fill: #fafafa;
            }
        }

        .social-networks {
            mat-icon {

                fill: #fafafa;
            }
        }
    }
}