<mat-drawer-container class="drawer-container" [ngClass]="[isDarkMode ? 'dark-mode' : '', isMobile ? 'mobile' : '']">
  <mat-drawer #drawer class="sidenav" mode="over" autosize>
    <img class="sidenav-logo" [src]="isDarkMode ? 'assets/ff-logo.png' : 'assets/ff-logo.png'" routerLink="/"
      (click)="drawer.toggle()">

    <button mat-button matTooltip="Accueil" routerLink="/" (click)="drawer.toggle()">
      <mat-icon>home</mat-icon> Accueil
    </button>

    <button mat-button matTooltip="Projets" routerLink="/projects" (click)="drawer.toggle()">
      <mat-icon>folder</mat-icon> Projects
    </button>

    <!-- <button mat-button matTooltip="Blog" routerLink="/blog" (click)="drawer.toggle()">
      <mat-icon>import_contacts</mat-icon> Blog
    </button> -->
  </mat-drawer>
  <mat-drawer-content class="app">
    <mat-toolbar>
      <img *ngIf="!isMobile" class="app-logo" [src]="isDarkMode ? 'assets/ff-logo.png' : 'assets/ff-logo.png'"
        routerLink="/">

      <button *ngIf="isMobile" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="toolbar-spacer"></span>

      <div class="actions-container">
        <div *ngIf="!isMobile">
          <button mat-button matTooltip="Accueil" routerLink="/">
            <mat-icon>home</mat-icon> Accueil
          </button>

          <button mat-button matTooltip="Projets" routerLink="/projects">
            <mat-icon>folder</mat-icon> Projects
          </button>

          <!-- <button mat-button matTooltip="Blog" routerLink="/blog">
            <mat-icon>import_contacts</mat-icon> Blog
          </button> -->
        </div>

        <button mat-icon-button class="user-menu" [matMenuTriggerFor]="userMenu">
          <mat-icon>settings</mat-icon>
        </button>
      </div>
    </mat-toolbar>

    <div class="main-container">
      <ng-container *ngIf="!isLoading; else isLoadingElseBlock">
        <div class="router-container">
          <router-outlet></router-outlet>
        </div>
      </ng-container>
      <ng-template #isLoadingElseBlock>
        <div class="centered-container">
          <mat-spinner diameter="50"></mat-spinner>
        </div>
      </ng-template>
    </div>

    <div class="footer">
      <mat-grid-list [cols]="!isMobile ? 2 : 2" rowHeight="6em">
        <mat-grid-tile class="general-infos" [rowspan]="!isMobile ? 2 : 3" [colspan]="!isMobile ? 1 : 2">
          <h4>Liens utils</h4>
          <mat-list role="list">
            <mat-list-item role="listitem">
              <button mat-icon-button
                (click)="redirect('https://www.linkedin.com/in/f%C3%A9licien-fouillet-772591197/')">
                <mat-icon svgIcon="linkedin" class="link"></mat-icon>
                <span class="link-span">Linkedin</span>
              </button>
            </mat-list-item>
            <mat-list-item role="listitem">
              <button mat-icon-button (click)="redirect('https://gitlab.com/felicienfouillet')">
                <mat-icon svgIcon="gitlab" class="link"></mat-icon>
                <span class="link-span">Gitlab</span>
              </button>
            </mat-list-item>
            <mat-list-item role="listitem">
              <button mat-icon-button (click)="redirect('https://github.com/felicienfouillet')">
                <mat-icon svgIcon="github" class="link"></mat-icon>
                <span class="link-span">Github</span>
              </button>
            </mat-list-item>
          </mat-list>
        </mat-grid-tile>

        <!-- <mat-grid-tile class="general-infos" [rowspan]="2" [colspan]="!isMobile ? 1 : 2">
          <h4>General 2</h4>
        </mat-grid-tile> -->

        <mat-grid-tile class="contacts" [rowspan]="!isMobile ? 2 : 3" [colspan]="!isMobile ? 1 : 2">
          <h4>Contacts</h4>
          <mat-list role="list">
            <mat-list-item role="listitem">
              <button mat-icon-button (click)="redirect('mailto:felicien.fouillet@viacesi.fr')">
                <mat-icon class="mail-link">email</mat-icon>
                <span class="mail-span">felicien.fouillet@viacesi.fr</span>
              </button>
            </mat-list-item>
            <mat-list-item role="listitem">
              <button mat-icon-button (click)="redirect('tel:+33750226396')">
                <mat-icon class="phone-link">local_phone</mat-icon>
                <span class="phone-span">+33 7 50 22 63 96</span>
              </button>
            </mat-list-item>
          </mat-list>
        </mat-grid-tile>

        <mat-grid-tile class="social-networks" [colspan]="!isMobile ? 2 : 2">
          <div>
            <button mat-icon-button (click)="redirect('https://www.linkedin.com/in/f%C3%A9licien-fouillet-772591197/')">
              <mat-icon svgIcon="linkedin" class="linkedin-link"></mat-icon>
            </button>
            <button mat-icon-button (click)="redirect('https://gitlab.com/felicienfouillet')">
              <mat-icon svgIcon="gitlab" class="gitlab-link"></mat-icon>
            </button>
            <button mat-icon-button (click)="redirect('https://github.com/felicienfouillet')">
              <mat-icon svgIcon="github" class="github-link"></mat-icon>
            </button>
          </div>

          <span class="copyright">Copyright ©2022 Tous droits réservés | Félicien Fouillet</span>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-drawer-content>
</mat-drawer-container>


<mat-menu #userMenu="matMenu">
  <button mat-menu-item>
    <mat-icon>language</mat-icon>
    <span>Langue</span>
  </button>
  <button mat-menu-item matTooltip="Dark mode" (click)="isDarkMode = !isDarkMode">
    <mat-icon>
      {{ isDarkMode ? 'wb_sunny' : 'brightness_3' }}
    </mat-icon>
    <span>{{ isDarkMode ? 'Light mode' : 'Dark mode' }}</span>
  </button>
</mat-menu>