<div class="skill" [style.width]="width" [style.height]="width" [ngClass]="isDarkMode ? 'dark-mode' : ''">
    <div class="outer">
        <div class="inner">
            <div id="score">
                <span>{{ value }}%</span>
            </div>
        </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%">
        <defs>
            <linearGradient id="GradientColor">
                <stop offset="0%" stop-color="#06367D" />
                <stop offset="50%" stop-color="#0B62E3" />
                <stop offset="100%" stop-color="#0D6EFD" />
            </linearGradient>
        </defs>
        <circle cx="50%" cy="50%" r="45%" stroke-linecap="round" [style.stroke-dashoffset]="strokeDashoffset" />
    </svg>
</div>