.skill {
    position: relative;

    .outer {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        padding: 10%;
        box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
            -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    }

    .inner {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.15),
            inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
            -.5px -.5px 0 rgba(255, 255, 255, 1),
            .5px .5px 0 rgba(255, 255, 255, 0.15),
            0 12px 10px -10px rgba(0, 0, 0, 0.05);

        #score {
            font-size: 1.25em;
            font-weight: bold;
            opacity: 75%;
        }
    }

    circle {
        fill: none;
        stroke: url(#GradientColor);
        stroke-width: 10%;
        stroke-dasharray: 420;
    }

    svg {
        position: absolute;
        top: 0;
        left: 0;
    }

    &.dark-mode {
        .outer {
            background-color: #fcfcfc;
            box-shadow: none;
        }

        .inner {
            background-color: #2c2c2c;
            box-shadow: none;
        }
    }
}
