::ng-deep .trainings {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        iframe {
            height: 2.5rem;
            width: 3rem;
            border: none;

            svg {
                fill: #fafafa !important;
            }
        }
    }

    .list {
        // width: calc(100% - 4rem);
        position: relative;
        left: 3rem;
        width: 100%;
        border-left: solid 2px #081013;
        list-style: outside none none;

        li {
            padding: 1rem 0;
            width: calc(100% - 5.85rem);
            position: relative;
            left: 1.85rem;

            &::before {
                content: "";
                border: solid .125rem;
                width: .5rem;
                height: .5rem;
                border-radius: 3.125rem;
                -moz-border-radius: 3.125rem;
                -webkit-border-radius: 3.125rem;
                font-size: .5rem;
                margin-left: -2.3rem;
                font-weight: 400;
                background: #fff;
                display: block;
                position: absolute;
                margin-top: 1.8rem;
                border-color: #0d6efd !important;
            }
        }
    }
}