<div id="trainings" class="trainings" [ngClass]="isDarkMode ? 'dark-mode' : ''" *ngIf="trainings?.length">
    <div class="title">
        <iframe src="assets/icons/education.svg" title="Education"></iframe>
        <h3>Formations</h3>
    </div>

    <ul class="list">
        <li *ngFor="let training of trainings">
            <resume-card [title]="training.title" [subtitle]="training.subtitle" [description]="training.description"
                [startDate]="training.startDate" [endDate]="training.endDate">
            </resume-card>
        </li>
    </ul>
</div>