
<div mat-dialog-content>
    <h1 mat-dialog-title>{{ title }}</h1>
    {{ description }}
</div>
<!-- <div mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</div> -->