    #profilePicture {
        display: flex;
        align-items: center;
        justify-content: center;

        .profile-picture {
            max-width: 55%;
            width: auto;
            height: auto;
            align-self: center;
            -webkit-border-radius: 50%;
            -webkit-background-clip: padding-box;
            -moz-border-radius: 45%;
            -moz-background-clip: padding;
            border-radius: 50%;
            background-clip: padding-box;
            float: left;

            border: solid 1px #616161;
            box-shadow: 0 0 10px 5px rgba(#616161, 0.4), 0 0 15px 10px rgba(#616161, 0.6);
            // box-shadow: rgba(#616161, 0.025) 0em .5em 1em 1.75em, rgba(#616161, 0.3) 0em .5em 1em 1em, rgba(#616161, 0.3) 0em .5em 1.5em .25em;

            &.dark-mode {
                border: solid 1px #081013;
                box-shadow: 0 0 10px 5px rgba(#081013, 0.4), 0 0 15px 10px rgba(#081013, 0.6);
                // box-shadow: rgba(#081013, 0.025) 0em .5em 1em 1.75em, rgba(#081013, 0.3) 0em .5em 1em 1em, rgba(#081013, 0.3) 0em .5em 1.5em .25em;
            }
        }
    }

    .bio-container {
        padding: 0 2.5em 0 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        text-align: justify;

        span {
            padding: .5em;
        }

        .wia {
            padding: .5em;
            display: flex;
            flex-direction: column;
        }

        .objectives {
            padding: .5em;
            margin-top: 1.5em;
            display: flex;
            flex-direction: column;
        }
    }

    .train-exp {
        padding: 1em 2em 0 2em;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 95%;
    }

    .skills {
        width: 95%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .technical-skills {
            mat-grid-tile {
                background-color: white;

                &:hover {
                    &:not(:last-of-type) {
                        cursor: pointer;
                    }
                }
            }

            .skills-icon {
                max-height: 85%;
                max-width: 85%;
            }

            h3 {
                margin-bottom: .75em;
            }
        }

        .languages-skills {
            h3 {
                margin-bottom: .75em;
            }

            .languages {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h4 {
                    margin-top: .75em;
                    margin-bottom: 1.25em;
                }
            }
        }
    }

    .dark-mode {
        .skills {
            .technical-skills {
                p {
                    color: #213636;
                }
            }
        }
    }

    ::ng-deep .mobile {
        .profile-picture {
            margin: 1.5em 0;
            width: 50%;
        }

        .bio-container {
            padding: .5em;
        }

        .train-exp {
            padding: 1em 1em 0 1em;
        }
    }