<div id="resume" [ngClass]="isDarkMode ? 'dark-mode' : ''">
    <mat-grid-list [cols]="cols" [rowHeight]="'0px'">
        <mat-grid-tile [colspan]="colSpans.profilePicture" class="pp-grid-tile" [rowspan]="rows.profilePicture">
            <div id="profilePicture">
                <img src="assets/ff-pp.png" alt="Profile picture" class="profile-picture"
                    [ngClass]="isDarkMode ? 'dark-mode' : ''">
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="colSpans.bio" class="bio-grid-tile" [rowspan]="rows.bio">
            <div id="bio" class="bio-container">
                <div class="wia">
                    <h3>Qui suis-je ?</h3>

                    <span>Je suis actuellement en cycle ingénieur informatique au Cesi de Saint Nazaire. Durant mes
                        deux
                        premières années d'études, j'ai acquis des connaissances en développement
                        (C#,
                        Typescript, Javascript, HTML, CSS, Java, SQL, ...), en réseau (Certification Cisco CCNA1 et
                        CCNA2), en sciences (physique, mathématiques)
                        ainsi qu'en gestion de projets.</span>
                </div>

                <div class="objectives">
                    <h3>Mes objectifs</h3>

                    <span>Au travers de mes stages de 2ème année de CPI et de première année de cycle ingénieur,
                        j’ai eu
                        l’occasion de travailler sur des projets très intéressants.</span>
                </div>
            </div>
        </mat-grid-tile>
        <!-- [style.background]="'lightgrey'" -->
        <mat-grid-tile [colspan]="colSpans.trainExp" [rowspan]="rows.trainExp">
            <div id="trainExp" class="train-exp">
                <app-trainings></app-trainings>
                <app-experiences></app-experiences>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="colSpans.skills" [rowspan]="rows.skills">
            <div id="skills" class="skills">
                <div class="technical-skills">
                    <h3>Skills</h3>
                    <mat-grid-list [cols]="isMobile ? 3 : 2" rowHeight="2:1" [gutterSize]="isMobile ? '1em' : '2em'">
                        <mat-grid-tile class="mat-elevation-z2">
                            <!-- (click)="showSkillsDetails('angular')" -->
                            <img class="skills-icon" src="assets/skills/angular-full.svg">
                        </mat-grid-tile>
                        <mat-grid-tile class="mat-elevation-z2">
                            <!-- (click)="showSkillsDetails('typescript')" -->
                            <img class="skills-icon" src="assets/skills/typescript.svg">
                        </mat-grid-tile>
                        <mat-grid-tile class="mat-elevation-z2">
                            <!-- (click)="showSkillsDetails('javascript')" -->
                            <img class="skills-icon" src="assets/skills/javascript.svg">
                        </mat-grid-tile>
                        <mat-grid-tile class="mat-elevation-z2">
                            <!-- (click)="showSkillsDetails('node')" -->
                            <img class="skills-icon" src="assets/skills/node.svg">
                        </mat-grid-tile>
                        <mat-grid-tile class="mat-elevation-z2">
                            <!-- (click)="showSkillsDetails('c_sharp')" -->
                            <img class="skills-icon" src="assets/skills/c_sharp.svg">
                        </mat-grid-tile>
                        <mat-grid-tile class="mat-elevation-z2">
                            <!-- (click)="showSkillsDetails('ethereum')" -->
                            <img class="skills-icon" src="assets/skills/ethereum.svg">
                        </mat-grid-tile>
                        <mat-grid-tile class="mat-elevation-z2">
                            <!-- (click)="showSkillsDetails('solidity')" -->
                            <img class="skills-icon" src="assets/skills/solidity.svg">
                        </mat-grid-tile>
                        <mat-grid-tile class="mat-elevation-z2">
                            <!-- (click)="showSkillsDetails('godot')" -->
                            <img class="skills-icon" src="assets/skills/godot_engine.svg">
                        </mat-grid-tile>
                        <mat-grid-tile class="mat-elevation-z2">
                            <p>And more...</p>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
                <div class="languages-skills">
                    <h3>Languages</h3>
                    <div class="languages">
                        <circular-skill [value]="86"></circular-skill>
                        <h4>Anglais <h5>TOIC 860</h5>
                        </h4>

                        <circular-skill [value]="60"></circular-skill>
                        <h4>Espagnol</h4>
                    </div>
                </div>
            </div>
        </mat-grid-tile>
        <!-- <mat-grid-tile [colspan]="colSpans.interests" [rowspan]="rows.interests" [style.background]="'lightgrey'">
            <div id="interests">
                <span>Points forts + centres d'interets</span>
            </div>
        </mat-grid-tile> -->
    </mat-grid-list>
</div>