<mat-card>
    <mat-card-header>
        <mat-card-title>{{ title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="subtitle">
            <mat-card-subtitle *ngIf="subtitle">{{ subtitle }}</mat-card-subtitle>

            <i class="date" *ngIf="startDate && !endDate">
                {{ startDate }}
            </i>

            <i class="date" *ngIf="startDate && endDate">
                {{ startDate }} - {{ endDate }}
            </i>
        </div>
        <div class="description" *ngIf="description">
            <span>{{ description }}</span>
        </div>
    </mat-card-content>
</mat-card>