::ng-deep mat-card {
    min-width: 100%;
    width: fit-content;
}

::ng-deep mat-card-header {
    .mat-card-header-text {
        margin: 0 1em 0 .2em;
    }
}

mat-card-subtitle {
    padding-left: .5rem;
}

mat-card-content {
    padding-left: .5rem;
}

.subtitle {
    display: flex;
    flex-direction: column;
    width: 100%;
}

i {
    color: darkgrey;
    font-size: .9rem;
    padding-left: .5rem;
}

.description {
    margin-top: .5rem;
    padding: .5em;
    // text-align: justify;
}