* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

app-root {
  width: 100vw;
  height: 100vh;
}