<div id="experiences" class="experiences" *ngIf="experiences?.length">
    <div class="title d-flex justify-content-start align-items-center">
        <iframe src="assets/icons/computer.svg" title="Experience"></iframe>
        <h3>Experiences</h3>
    </div>

    <ul class="list">
        <li *ngFor="let experience of experiences">
            <resume-card [title]="experience.title" [subtitle]="experience.subtitle"
                [description]="experience.description" [startDate]="experience.startDate"
                [endDate]="experience.endDate"></resume-card>
        </li>
    </ul>
</div>