.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.projects-container {
    width: 80%;
}

.projects-grid {
    margin-top: 2em;
}