<div class="projects">
    <div class="projects-container">
        <div class="projects-header">
            <h2 class="projects-title">Projects</h2>
            <p class="projects-subtitle">
                Here are some of my projects.
            </p>

            <mat-grid-list class="projects-grid" [cols]="cols" rowHeight="30em" gutterSize="1em">
                <mat-grid-tile *ngFor="let project of projects" [rowspan]="1" [colspan]="1">
                    <app-project-card [project]="project"></app-project-card>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
</div>