<mat-card class="project">
    <mat-card-header>
        <mat-card-title class="title">{{ project.title }}</mat-card-title>
        <mat-card-subtitle class="subtitle">{{ project.subtitle }}</mat-card-subtitle>
    </mat-card-header>

    <!-- <div class="project-image"> -->
        <img mat-card-image [src]="project.imageUri" alt="Project image">
    <!-- </div> -->
    
    <mat-card-content class="description">
        <p>{{ project.description }}</p>
    </mat-card-content>
</mat-card>