::ng-deep .mat-card-image {
    height: 20em;
    object-fit: contain;
}

.mat-card {
    height: 30em;
    min-width: calc((80vw/3) - 1em);
}

@media screen and (max-width: 1279px) {
    .mat-card {
        min-width: calc((80vw/2) - 1em);
    }
}

@media screen and (max-width: 959px) {
    .mat-card {
        min-width: calc(80vw - 1em);
    }
}